.achievments_background {
  padding: 1rem;
  min-height: 90svh;
  background: url("../Assests_components/svg_backgrounds/Sprinkle.svg");
}
.achievments_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: var(--color-bg-600);
}
/* ITEM */
.achievments_items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: var(--color-bg-800);
}
.achievments_items_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
/* subtitle */
.achievments_items h5 {
  font-weight: 600;
  padding-bottom: 0.1rem;
}
.achievments_items p {
  font-style: italic;
}
.achievments_items_icon {
  font-size: var(--font-size-h1);
}
.achievment_locked {
  opacity: 0.6;
  background-color: var(--color-primary-05);
}
.achievment_unlocked {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: rgb(46, 148, 46) !important;
}
