/* 
============================================

        Left side - selected profile

============================================

*/

.profile_topbar_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#topbar_avatar {
  max-width: 3rem;
}

/* 
============================================

        NAVBAR

============================================

*/
.no-drag {
  -webkit-app-region: no-drag;
}

.nav {
  z-index: 1000;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  overflow-x: auto;
  flex-wrap: wrap;
  max-width: 100svw;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  -webkit-app-region: drag;

  /*   width: calc(100% - 30px);
 */

  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  background-color: #0a0909;
}

.nav_right_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.nav_btns_section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.nav_btns_profile_search_section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 0.5rem 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-left: 3px solid var(--color-primary-900);
}

.nav_btns_profile_search_section_input {
  font-size: var(--font-size-h6);
  padding: 0.5rem;
  outline: 0;
  border: 0;
  border-radius: 3px;
  border-bottom: 0.5px solid black;
  border-right: 0.5px solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: var(--color-bg-600);
}

.nav_socials_section {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.nav_socials_section a {
  font-size: var(--font-size-h5);
  color: var(--color-text);
}

.nav_custom_controls {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/*  */
