/* 

============================================

        Left side - selected profile

============================================

*/

.profile_topbar_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#topbar_avatar {
  max-width: 4rem;
}

/* 

============================================

        NAVBAR

============================================

*/

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.nav_right_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.nav_btns_section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.nav_btns_profile_search_section {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: var(--color-bg-09);
}

.nav_btns_profile_search_section_input {
  font-size: var(--font-size-h6);
  padding: 0.3rem;
  outline: 0;
  border: 0;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: var(--color-bg-500);
}

.nav_socials_section {
  display: flex;
  gap: 1rem;
}
.nav_socials_section a {
  font-size: var(--font-size-h5);
}
