.items_wrapper {
  padding: 1rem;
  background: url("../Assests_components/svg_backgrounds/Sprinkle.svg");
  background-repeat: repeat;
}
.items_container {
  padding: 1rem;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: var(--color-bg-600-07);
}

.item_database_img {
  display: flex;
  align-items: center;
}
.item_database_icon {
  margin: 0 auto;
  width: 3rem;
  max-width: 5rem;
}

/* ITEM CONTAINERS */
.items_inner_conainer {
  padding: 1rem;
  max-height: 80svh;
  align-items: flex-start;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: var(--color-bg-800);
}

/* LEFT - SETTINGS */
.items_item_settings {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1fr 0.5fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  overflow: auto;
}
.items_item_settings::-webkit-scrollbar {
  padding-left: 5rem;
  width: 10px;
  background-color: var(--color-bg-600);
}
.items_item_settings::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-900);
  border-radius: 10px;
}

/* LEFT - FILTERING */
.item_inner_filtering {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: var(--color-bg-700);
}

.item_inner_filtering_inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  width: 100%;
}

/* FILTEIRNG OPTIONS */
.item_inner_filtering_section_container {
  width: 90%;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: var(--color-bg-600-09);
}

/* FILTEIRNG OPTIONS */
.item_inner_filtering_section_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: 0.3fr 1fr 0.5fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  width: 100%;
}
.filtering_arrow.rotated {
  transform: rotate(180deg);
}

.filtering_arrow {
  transition: transform 0.3s ease-in-out;
}

.filtering_arrow.rotated {
  transform: rotate(180deg);
}

/* CSSTransition Animations */
.fade-enter {
  opacity: 0;
  transform: translateY(-10px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

/* LEFT - SETTINGS BTNS */
.item_inner_options {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  gap: 1.5rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  background-color: var(--color-bg-700);
}
.item_inner_search input {
  padding: 0.5rem 0rem;
  width: 95%;
  font-size: var(--font-size-h6);
  color: var(--color-text-800);
  border: 5px solid var(--color-bg-900);
  border-radius: 5px;
}

.item_inner_filtering_inner section:hover,
.item_inner_options button:hover {
  cursor: pointer;
  animation: shadowPulse 1.5s infinite;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.item_inner_search input:hover {
  animation: shadowPulse 1.5s infinite;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

@keyframes shadowPulse {
  0% {
    filter: drop-shadow(0 0 0 var(--color-primary));
  }
  50% {
    filter: drop-shadow(0 0 0.75rem var(--color-primary));
  }
  100% {
    filter: drop-shadow(0 0 0 var(--color-primary));
  }
}

/* RIGHT - DATABASE */
.items_item_database {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr;
  grid-row-gap: 20px;

  overflow: auto;
}
.item_database_results {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.items_item_database::-webkit-scrollbar {
  padding-left: 5rem;
  width: 10px;
  background-color: var(--color-bg-600);
}
.items_item_database::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-900);
  border-radius: 10px;
}

/* RIGHT - BOTTOM PAGINATION */
.item_database_results_output_item {
  display: grid;
  grid-row-gap: 10px;
  align-items: start;
  padding: 1rem;
  background-color: #180a18;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 5px;
}

.item_database_results_output_item * {
  font-weight: bold !important;
  font-size: var(--font-size-h5);
}

.item_database_stats_bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.item_base_stat_health p * {
  color: red;
}

.item_database_fit_height {
  height: fit-content !important;
}

/* * {
  outline: 1px solid;
}
 */
