.news_wrapper {
  min-height: 90svh;
  padding: 1rem;
  background: url("../Assests_components/svg_backgrounds/Sprinkle.svg");
}

.news_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  grid-row-gap: 20px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: var(--color-bg-600-07);
}
.news_item {
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: var(--color-bg-800);
}
.news_date {
  display: flex;
  align-items: center;
  padding: 0px 5px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  background-color: var(--color-secondary-900);
}

.news_btn {
  border-radius: 10px;
  color: var(--color-text);
  padding: 0.5rem 1rem;
  background-color: var(--color-primary);
}
.news_btn:hover {
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;
}
